.title {
  font-size: 75px !important;
  color: black !important;
}

.quarto-title-author-name {
  font-size: 50px;
  color: red !important;
}

.caption{
  text-align: center;
}

.reveal .slide-logo {
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}
